{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: open sans;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: palevioletred;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px; 
}

/* Header*/

header{
    width: 100%;
    height: 600px;
    background: #bc4e9c;
    /* fallback for old browser */
    background: -wekit-linear-gradient(to right, hsla(314, 95%, 50%, 0.15),hsla(317, 40%, 76%, 0.16)), url(17.jpg);
    /*chrome 10-25, safari 5.1-6*/
    background: linear-gradient(to right, rgba(188, 78, 156, 0.21),hsla(332, 91%, 50%, 0.98)), url(17.jpg);
    /*wec,ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
    background-size:cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: white;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: white;
}

wave{
    position: absolute;
    bottom: 0;
    width: 100%
}

/*  About us */

contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evely;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 30px;
}

.contenido-textos h3 span{
    background: pink;
    color: deeppink;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding-top: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;       
}
    
.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */

.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 150px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0,0,0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    transform: scale(0);
    background: hsla(273,91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color#fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* clients */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/* our team */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servici-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color:#ccc;
}

.titulo-final{
    text-align: center;
        font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}




*globales*/
before,
after{
    margin: 100px;
    padding: 50px;
    border: 8px;
    box-sizing: border-box;
}

html{
    font-family: "poppins", sans-serif;
    font-size: 10px;
    color: #000;
    scroll-behavior: smooth;

}


 .body {
    overflow: hidden;
    
}

.section {
    padding: 3.9rem 0;
    overflow: hidden;
    
}

.img {
    width:46%;
    max-width: 100%;
    
    height: 200px;

    
    
}   





a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

.container {
    white-space: normal;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}



.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle {
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%
    transform: translatey (-50%)
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.fa-times {
    display: none;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: #252525;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    
}

.nav::before {
    content:none;
    position: fixed;
    top: o;
    left: 0;
    width: 100px;
    height: 100vh;
    background-color: rgba(0,0,0, .8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.open .fa-times {
    display: none;
}

.open .fa-bars {
    display: none;
}

.open .nav-list {
    transform: translateX(0);
}

.open .nav::before{
    opacity: 1;
    transform: scale(1);
}

.logo {
    color:#fff;
    font-size: 2rem;
    font-weight: 600;
}

.nav-item {
    border-bottom: 2px solid rgba(255,255,255, .3);
}
.nav-link {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
}

.nav-link:hover {
    color#3bcc75;
}

/*hero*/

.hero {
    width: 100%;
    height: 70vh;
    background: url("/imagen 4.jpg") center no-repeat;
    background-size: cover;
    display:flex;
    align-items: center;
    text-align: center;
}

.h2-sub {
    font-size: 3rem;
    font-family: "poppins", sans-serif;
    color: #3bcc75;
    font-weight: 600;
    line-height: .4;
}

.fil {
    text-transform: uppercase;
    font-size: 3rem;
}

.head {
    color: mediumvioletred;
    font-size: 3.7rem;
    font-family: "poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 900;letter-spacing: .5rem;
}

.circle {
    font-size: 1.5rem;
    color: #3bcc75;
    margin: 0 1.6rem;
}

.he-des h5 {
    color: black;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-right: -3px;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}

.cta-btn {
    font-size: 1.1rem;
    background-color: bisque;
    padding: 1.5rem 3rem;
    color: darkblue;
    border-radius: .4rem;
}

.cta-btn:hover,
.cta-btn:facus {
    color: black;
    background-color: #3bcc75;
}

.global {
    text-align: center;
    margin-top: 3.9rem;
}

.dis-sto .global {
    margin-top: 3.9rem;
}

.global .circle {
    color: #3bcc75;
    margin: 2.4rem 0;
}

.hea-dark {
    color: #252525;
    letter-spacing: .7rem;
    margin-right: -.7rem;
}

.global .h2-sub {
    letter-spacing: -1px;
    line-height: .42;
}

.res-info {
    text-align: center;
}

.res-des {
    margin-bottom: 3rem;
}

.res-des p {
    line-height: 1.6;
    margin-bottom: 2.4rem;
}

/*menu*/


.image-group  {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.5rem;
    width: 10px;
    padding: 0rem;
}




.taste {
    background: url(/imagen 1.jpg)center no-respeat;
    background-size: cover;
    height: 1px;
}

. bt {
    min-height: 65vh;
    display: flex;
    align-items: center;
    
}









/*platillos*/

.image-group  {
    grid-template-columns: repeat(0,1fr);
    
    
    
    
    
     


}


.disco .res-des {
    padding-top: 1rem;
    margin-bottom:1;
}

.pb {
    background: url(imagen%2011.jpg) center no-repeat;
    background-size: cover;
}

